{% extends 'base.html' %}
{% block content %}
<h2></h2>
    <form action="" method="POST" name="form1" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="generate_card" class="card">
            <div class="card-header">Assets</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">Date：<input  id="date" name="date" aria-label="Small" ></div>
                    <div class="col-md-3">Assets or Debt：
                        <select id="assets_debt" name="assets_debt">
                            <option value="assets">assets</option>
                            <option value="debt">debt</option>
                        </select>
                    </div>
                    <div class="col-md-3">Type：<input  id="account_type" name="account_type" ></div>
                    <div class="col-md-3">Account：<input  id="account" name="account" ></div>
                </div>
                <div class="row"> 
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-md-3">TWD exchange：<input  id="TWD_exchange" name="TWD_exchange" ></div>
                    <div class="col-md-3">Assets QTY：<input  id="assets_QTY" name="assets_QTY" ></div>
                    <div class="col-md-3"><input type="submit" name="button" id="botton" value="Summit"></div>
                </div>
            </div>
        </div>
        
    </form>
    <div>Assete table</div>
    <div class="table-responsive">
        {% load render_table from django_tables2 %}
        {% render_table table %}
    </div>

{% endblock  %}